<div class="w-full px-24 py-8">
  <div class="">
  <h1 class="text-3xl font-light mb-6 flex items-center"><span class="mr-2"><%= t('admin_dashboard') %> /</span> <strong class="text-xl font-light"><%= t('my_products') %></strong></h1>
  </div>
  <div class="flex justify-between">
    <%= render partial: "admin/partials/admin_links" %>
    <div class="grid grid-cols-4 gap-8" style="width: 78%;">
      <% @teas.each do |tea| %>
        <%= link_to edit_admin_tea_path(tea.id) do %>
        <div class="">

          <p><%= tea.title %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
