<div class="grid grid-cols-2 gap-4 lg:grid-cols-3 lg:gap-8">
  <% @teas.each do |tea| %>
    <%= link_to tea_path(tea.id) do %>
      <%
        category_color = {
          "Bien-être" => "#004f9f",
          "Bien-être digestif" => "#008337",
          "Bien-être chez la femme" => "#a60063",
          "Hiver" => "#67c4d3",
        }
      %>
      <div class="product-item">
        <%= image_tag ["tea-lake-2.jpeg", "tea-wellbeing-2.png", "tea-woman-2.jpeg"].sample, class: "tea-index-image" %>
        <div>
          <div class="flex justify-between">
            <h6><%= tea.title %></h6>
            <h6><%= sprintf('%.2f', tea.price) %> CHF</h6>
          </div>
          <p style="color: <%= category_color[tea.tea_detail.category] || '#000' %>;"><strong><%= tea.tea_detail.category %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
