<script src="/javascript/index_filter_submit.js"></script>
<div class="tea-index-container w-full">
  <div class="tea-index-options">
    <div class="flex items-center mb-2">
      <h1><%= t('our_herbal_teas') %></h1>
      <%= image_tag "bio-seal.webp", style: "height: 40px; width: 40px" %>
    </div>
    <h6><%= t('tea_blurb') %></h6>
    <p><%= t('tea_description') %></p>
    <%= select_tag :category,
      options_for_select([[ t('category'), nil, { disabled: true, selected: true }] ] + @categories.map { |category| category }),
      id: "category-select"
    %>
  </div>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 lg:gap-8">
    <% @teas.each do |tea| %>
      <%= link_to tea_path(tea.id), class: 'product-container', data: { :category => tea.tea_detail.category } do %>
        <%
          category_color = {
            "Bien-être" => "#004f9f",
            "Bien-être digestif" => "#008337",
            "Bien-être chez la femme" => "#a60063",
            "Hiver" => "#67c4d3",
          }
        %>
        <div class="product-item">
          <%= image_tag ["tea-lake-2.jpeg", "tea-wellbeing-2.png", "tea-woman-2.jpeg"].sample, class: "tea-index-image" %>
          <div>
            <div class="flex justify-between">
              <h6><%= tea.title %></h6>
              <h6><%= sprintf('%.2f', tea.price) %> CHF</h6>
            </div>
            <p style="color: <%= category_color[tea.tea_detail.category] || '#000' %>;"><strong><%= tea.tea_detail.category %></strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
