<div class="footer-container">
  <div class="info-container">
    <div class="mb-6">
      <h6>My Wellness Tea</h6>
      <ul>
        <li>
          <%= link_to "Notre Marque" %>
        </li>
        <li>
          <%= link_to "Notre Vision" %>
        </li>
      </ul>
    </div>
    <div class="mb-6">
      <h6>La boutique en ligne</h6>
      <ul>
        <li>
          <%= link_to "Aide et Contact" %>
        </li>
        <li>
          <%= link_to "Livraison" %>
        </li>
      </ul>
    </div>
    <div>
      <%= image_tag "visa-card.png", class: "payment-methods" %>
      <%= image_tag "mastercard.png", class: "payment-methods" %>
    </div>
  </div>
</div>
