
<div class="drawer-container" id="nav-drawer-container">
  <div class="drawer-menu p-4" id="nav-drawer-menu">
    <div class="w-full flex justify-between items-center mb-8">
      <%= link_to image_tag("profile-icon.png"), edit_user_registration_path, id: "profile-icon-mobile" %>
      <div class="flex">
        <%= link_to "FR", { :locale=> 'fr' }, class: "lang-menu-item block text-sm text-gray-700 mr-4", id: (request.path.include?("fr") ? 'active-lang' : '' ), role: "menu-item" %>
        <%= link_to "DE", { :locale => 'de' }, class: "lang-menu-item block text-sm text-gray-700 mr-4", id: (request.path.include?("de") ? 'active-lang' : '' ), role: "menu-item" %>
        <%= link_to "IT", { :locale => 'it' }, class: "lang-menu-item block text-sm text-gray-700 mr-4", id: (request.path.include?("it") ? 'active-lang' : '' ), role: "menu-item" %>
        <%= link_to "EN", { :locale=> 'en' }, class: "lang-menu-item block text-sm text-gray-700 mr-4", id: (request.path.include?("en") ? 'active-lang' : '' ), role: "menu-item" %>
      </div>
      <%= image_tag "x-icon.png", class: "x-icon", id: "x-icon" %>
    </div>
    <ul>
      <li>
        <%= link_to "Accueil", root_path %>
      </li>
      <li>
        <%= link_to "Tisanes", teas_path %>
      </li>
      <li>
        <%= link_to "Plantes", plants_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
    </ul>
  </div>
</div>
