<div class="drawer-container" id="nav-drawer-container">
  <div class="drawer-menu p-4" id="nav-drawer-menu">
    <%= image_tag "x-icon.png", class: "x-icon", id: "x-icon" %>
    <ul>
      <li>
        <%= link_to "Accueil", root_path %>
      </li>
      <li>
        <%= link_to "Tisanes", teas_path %>
      </li>
      <li>
        <%= link_to "Plantes", plants_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
    </ul>
  </div>
</div>
