<script src="/javascript/drawer_functionality.js"></script>
<div class="navbar-container">
  <div class="w-full flex justify-between">
    <div class="">
      <%= link_to image_tag("logo-main.png"), root_path, class: "navbar-logo" %>
    </div>
    <div class="desktop-links w-1/2 justify-around items-center">
      <%= link_to t('welcome'), root_path, class: (request.path == root_path ? 'active-nav-item' : '') %>
      <%= link_to t('teas'), teas_path, class: (request.path.starts_with?(teas_path) ? 'active-nav-item' : '') %>
      <%= link_to t('plants'), plants_path, class: (request.path.starts_with?(plants_path) ? 'active-nav-item' : '') %>
      <%= link_to t('contact'), contact_path, class: (request.path == contact_path ? 'active-nav-item' : '') %>
    </div>
    <div class="helpers flex justify-between justify-around items-center" style="width: 23%">
      <div class="relative inline-block text-left" id="lang-menu-container">
        <div class="flex">
          <%= link_to "FR", { :locale=> 'fr' }, class: "lang-menu-item block text-sm text-gray-700 mr-6", id: (request.path.include?("fr") ? 'active-lang' : '' ), role: "menu-item" %>
          <%= link_to "DE", { :locale => 'de' }, class: "lang-menu-item block text-sm text-gray-700 mr-6", id: (request.path.include?("de") ? 'active-lang' : '' ), role: "menu-item" %>
          <%= link_to "IT", { :locale => 'it' }, class: "lang-menu-item block text-sm text-gray-700 mr-6", id: (request.path.include?("it") ? 'active-lang' : '' ), role: "menu-item" %>
          <%= link_to "EN", { :locale=> 'en' }, class: "lang-menu-item block text-sm text-gray-700", id: (request.path.include?("en") ? 'active-lang' : '' ), role: "menu-item" %>
        </div>
      </div>
      <div class="helper-image">
        <div id="cart-icon">
          <% if @current_cart.line_items.sum(:quantity) > 0 %>
            <div class="cart-quantity" id="cart-quantity">
              <%= @current_cart.line_items.sum(:quantity) %>
            </div>
          <% end %>
          <%= image_tag "cart-icon.png" %>
        </div>
      </div>
      <%= link_to image_tag("profile-icon.png"), edit_user_registration_path, class: "helper-image", id: "profile-icon" %>
      <%= image_tag "hamburger-menu.png", class: "helper-image", id: "hamburger-menu" %>
        <%= render partial: "/shared/nav_drawer" %>
        <%= render partial: "/shared/cart_drawer" %>
    </div>
  </div>
</div>
