<script src="/javascript/drawer_functionality.js"></script>
<div class="navbar-container">
  <div class="w-full flex justify-between">
    <div class="w-1/4">
      <%= image_tag "logo-main.png", class: "navbar-logo" %>
    </div>
    <div class="desktop-links w-1/2 justify-around items-center">
      <%= link_to "Acceuil", root_path %>
      <%= link_to "Tisanes", products_path %>
      <%= link_to "Plantes", plants_path %>
      <%= link_to "Contact", contact_path %>
    </div>
    <div class="desktop-helpers w-1/4 flex justify-between justify-around items-center">
      <p>Langue</p>
      <%= image_tag "hamburger-menu.png", class: "hamburger-menu", id: "hamburger-menu" %>
      <%= render partial: "/shared/drawer" %>
    </div>
  </div>
</div>
