<script src="/javascript/checkout.js"></script>
<div class="w-full h-full px-3 pt-4 pb-10 md:px-52 box-border">
  <h1 class="text-3xl font-light mb-4">Payment Confirmation</h1>
  <div class="w-full lg:flex lg:justify-between">
    <div class="payment-form-container">
      <form id="shipping-address-form" action="<%= orders_path %>" method="post">
        <h1 class="text-2xl">Shipping Details</h1>
        <p class="text-sm mb-2">* Indicates a required field</p>

        <!-- Email Field -->
        <div class="product-form-section flex flex-col mb-4 w-full mr-2">
          <label for="order_email">Email*</label>
          <input type="email" name="order[email]" id="order_email" value="<%= current_user ? current_user.email : '' %>" required>
        </div>

        <!-- First Name and Last Name -->
        <div class="product-form-section w-full flex justify-between mb-4" id="0">
          <div class="flex flex-col w-[48%]">
            <label for="order_first_name">First Name*</label>
            <input type="text" name="order[first_name]" id="order_first_name" required>
          </div>
          <div class="flex flex-col w-[48%]">
            <label for="order_last_name">Last Name*</label>
            <input type="text" name="order[last_name]" id="order_last_name" required>
          </div>
        </div>

        <!-- Address Lines and City -->
        <div class="product-form-section flex flex-col mb-4 w-full mr-2">
          <div class="flex flex-col mb-2 w-full">
            <label for="order_address_line_1">Address Line 1*</label>
            <input type="text" name="order[address_line_1]" id="order_address_line_1" required>
          </div>
          <div class="flex flex-col mb-2 w-full">
            <label for="order_address_line_2">Address Line 2</label>
            <input type="text" name="order[address_line_2]" id="order_address_line_2">
          </div>
          <div class="flex flex-col w-full">
            <label for="order_city">City*</label>
            <input type="text" name="order[city]" id="order_city" required>
          </div>
        </div>

        <!-- Country and Post Code -->
        <div class="product-form-section w-full flex justify-between mb-8" id="0">
          <div class="flex flex-col w-[48%]">
            <label for="order_country">Country*</label>
            <select name="order[country]" id="order_country" required>
              <option value="" disabled selected>Country</option>
              <option value="CH">Switzerland</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="IT">Italy</option>
              <!-- Add more countries as necessary -->
            </select>
          </div>
          <div class="flex flex-col w-[48%]">
            <label for="order_post_code">Post Code*</label>
            <input type="text" name="order[post_code]" id="order_post_code" required>
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit">Proceed to Payment</button>
      </form>
      <div class="product-form-section w-full justify-between" id="0">
        <h1>Payment Info</h1>
        <form id="payment-form">
          <div id="payment-element" class="mb-6"></div>
          <button id="submit" class="confirm-payment-button">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay Now</span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
      </div>
    </div>
    <div class="order-summary">
      <div>
        <h1 class="text-2xl mb-6 font-light">Order Summary</h1>
        <div class="pb-1.5 mb-4" style="border-bottom: solid 0.5px #147a1c">
          <% @current_cart.line_items.each do |line_item| %>
            <div class="flex justify-between">
              <p>x<%= line_item.quantity %> <%= line_item.product.title %></p>
              <p><%= sprintf('%.2f', line_item.product.price * line_item.quantity) %> CHF</p>
            </div>
          <% end %>
        </div>
        <div class="flex justify-between pb-1.5 mb-4" style="border-bottom: solid 0.5px #147a1c">
          <p>Shipping:</p>
          <p>6.50 CHF</p>
        </div>
        <% if @cart_total > 50 %>
          <div class="flex justify-between pb-1.5" style="border-bottom: solid 0.5px #147a1c">
            <p>Discount: Free Shipping</p>
            <p>- 6.50 CHF</p>
          </div>
        <% end %>
      </div>
      <div class="order-total w-full flex justify-between pt-4 mt-8 md:mt-0">
        <p class="text-md font-medium">Order Total: </p>
        <p class="text-md font-medium"><%= sprintf('%.2f', @cart_total + 6.50) %> CHF</p>
      </div>
    </div>
  </div>
</div>
