<div class="flex flex-col">
  <div class="main-banner">
    <div class="carousel-slide" id="carousel-slide-1">
      <div class="carousel-info">
        <h1>La solution à votre digestion</h1>
        <p class="font-semibold text-lg mb-6">Pour le confort des gourmands</p>
        <%= link_to "See our teas for digestion", teas_path, class: "carousel-link", style: "display: inline-block;" %>
      </div>
      <%= image_tag "swiss-lake.jpg" %>
    </div>
  </div>
  <div class="introduction-container px-2.5 md:px-32 md:text-center">
    <h1 class="text-3xl font-extralight mb-2"><%= t('slogan') %></h1>
    <h3 class="text-xl mb-4"><%= t('intro') %></h3>
    <div class="divider mb-4"></div>
    <p class="mb-4"><%= t('history') %></p>
    <p class="md:px-10"><%= t('call_to_action')%></p>
  </div>
  <div class="info-banner mb-10">
    <div class="info-banner-section" id="our-history">
      <div class="zoom-bg" style='background-image: url(<%= asset_path 'lotion-stock.avif' %>)'></div>
      <div class="info-text-div">
        <div>
          <h3>Discover Stuff</h3>
        </div>
        <p>Click Here</p>
      </div>
    </div>
    <%= link_to teas_path, class: "info-banner-section" do %>
      <div class="zoom-bg" style='background-image: url(<%= asset_path 'tea-leaves.jpeg' %>)'></div>
      <div class="info-text-div">
        <div>
          <h3>Discover Stuff</h3>
        </div>
        <p>Click Here</p>
      </div>
    <% end %>
    <%= link_to our_brand_path, class: "info-banner-section" do %>
      <div class="zoom-bg" style='background-image: url(<%= asset_path 'romont.jpg' %>)'></div>
      <div class="info-text-div">
        <div>
          <h3><%= t('our_brand') %></h3>
        </div>
        <p>Click Here</p>
      </div>
    <% end %>
  </div>
</div>
