<div class="px-3 lg:px-64 py-12">
  <h1 class="mb-12 text-3xl"><%= t('terms_and_conditions') %></h1>
  <div class="mb-10">
    <h1 class="mb-2 font-light">1. <%= t('acceptance_of_t_and_c_title') %></h1>
    <p><%= t('acceptance_of_t_and_c') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">2. <%= t('products_sold_on_site_title') %></h1>
    <p><%= t('products_sold_on_site') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">3. <%= t('prices_of_products_title') %></h1>
    <p><%= t('prices_of_products') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">4. <%= t('orders_title') %></h1>
    <p><%= t('orders') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">5. <%= t('payments_title') %></h1>
    <p><%= t('payments') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">6. <%= t('order_delivery_title') %></h1>
    <p><%= t('order_delivery') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">7. <%= t('legal_guarantee_title') %></h1>
    <p><%= t('legal_guarantee') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">8. <%= t('right_of_withdrawal_title') %></h1>
    <p><%= t('right_of_withdrawal') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">9. <%= t('return_instructions_title') %></h1>
    <p><%= t('return_instructions') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">10. <%= t('responsibility_title') %></h1>
    <p><%= t('responsibility') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">11. <%= t('intellectual_property_title') %></h1>
    <p><%= t('intellectual_property') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">12. <%= t('applicable_law_title') %></h1>
    <p><%= t('applicable_law') %></p>
  </div>
  <div class="mb-10">
    <h1 class="mb-2 font-light">13. <%= t('personal_data_title') %></h1>
    <p><%= t('personal_data') %></p>
  </div>
</div>
