<div class="w-full h-full px-3 py-10 md:px-72">
  <h1 class="text-3xl font-light mb-6"><%= t('review_your_order') %></h1>
  <div>
    <div class="w-full flex justify-between mb-6 pb-4" style="border-bottom: solid 0.5px rgba(84, 170, 184, 0.5)">
      <h3 class="text-xl"><%= t('order_total') %>: </h3>
      <h3 class="text-xl"><strong><%= sprintf('%.2f', @cart_total) %> CHF</strong></h3>
    </div>
    <div class="mb-12">
      <% @current_cart.line_items.sort_by(&:id).each do |line_item| %>
        <div class="cart-product flex w-full justify-between mb-6 pb-4" id="line_item_<%= line_item.id %>" style="border-bottom: solid 0.5px rgba(84, 170, 184, 0.5)">
          <%= image_tag ["tea-lake-2.jpeg", "tea-wellbeing-2.png", "tea-woman-2.jpeg"].sample, class: 'cart-product-image' %>
          <div class="flex flex-col justify-between items-end" style="height: 100px;">
            <div class="text-right">
              <p><strong><%= line_item.product.title %></strong></p>
              <p><%= sprintf('%.2f', line_item.product.price) %> CHF</p>
            </div>
            <div class="flex items-center">
              <%= button_to t('remove_entirely'), line_item_path(line_item.id), class: "cart-item-delete", method: :delete %>
              <%= link_to image_tag("minus-icon.png"), line_item_reduce_path(:id => line_item), class: "increment-icons ml-6 mr-2", data: { turbo_method: :post } %>
              <p class="mr-2" style="font-size: 1.25rem" id="line_item_<%= line_item.id %>_quantity"><%= line_item.quantity %></p>
              <%= link_to image_tag("plus-icon.png"), line_item_add_path(:id => line_item), class: "increment-icons", data: { turbo_method: :post } %>
            </div>
          </div>
        </div>
      <% end %>
      <p>*<%= t('shipping_checkout') %></p>
    </div>
    <%= link_to t('proceed_to_checkout'), new_order_path, class: "checkout-button" %>
  </div>
</div>
