<div class="p-4 border-solid border-black rounded" style="width: 20%; border-width: 1px; height: 450px;">
  <ul>
    <p class="mb-2"><strong>Site Content</strong></p>
    <li class="mb-2">
      <%= link_to "Admin Home", admin_root_path, class: request.path == admin_root_path ? 'active-link' : '' %>
    </li>
    <li class="mb-2">
      <%= link_to t('my_products'), admin_teas_path, class: request.path.sub(/^\/#{I18n.locale}\//, '/') == '/admin/teas' ? 'active-link' : '' %>
    </li>
    <li class="mb-2">
      <%= link_to t('create_new_product'), new_admin_tea_path, class: request.path.sub(/^\/#{I18n.locale}\//, '/') == '/admin/teas/new' ? 'active-link' : '' %>
    </li>
    <li class="mb-2">
      <%= link_to t('my_plants'), admin_plants_path, class: request.path.sub(/^\/#{I18n.locale}\//, '/') == '/admin/plants' ? 'active-link' : '' %>
    </li>
    <li class="mb-6">
      <%= link_to t('create_new_plant'), new_admin_plant_path, class: request.path.sub(/^\/#{I18n.locale}\//, '/') == '/admin/plants/new' ? 'active-link' : '' %>
    </li>
    <p class="mb-2"><strong>Customers</strong></p>
    <li class="mb-2">
      <%= link_to t('admin_orders'), admin_orders_path, class: request.path.sub(/^\/#{I18n.locale}\//, '/') == '/admin/orders' ? 'active-link' : '' %>
    </li>
    <li class="mb-4">
      <%= link_to t('users'), admin_users_path, class: request.path == admin_users_path ? 'active-link' : '' %>
    </li>
    <p class="mb-2"><strong>Actions</strong></p>
    <li class="mb-4">
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
    </li>
  </ul>
</div>
