<div>
  new product page

  <%= form_for [:admin, @product] do |form| %>
    <div class="flex flex-col">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="flex flex-col">
      <%= form.label :price_chf %>
      <%= form.number_field :price %>
    </div>
    <div class="flex flex-col">
      <%= form.label :in_stock %>
      <%= form.check_box :stock %>
    </div>
    <div class="flex flex-col mb-10">
      <%= form.label :type %>
      <%= form.select :type, options_for_select(['Tea', 'Misc.']) %>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</div>
